<section
  data-w-id="bfc1803e-3536-2d08-84aa-7d7379caa303"
  class="section section-padding-small contact"
>
  <div class="container contact-conainer">
    <div class="contact-content">
      <h2 data-w-id="2131ae13-f70a-0457-fb67-a9df4d4b9e4f" class="text-center reveal">
        Зв'яжіться з <span class="text-italic">нами</span>
      </h2>
      <p data-w-id="2131ae13-f70a-0457-fb67-a9df4d4b9e53" class="text text-center reveal">
        Ваша думка цінна для нас. Будь ласка, заповніть форму, і ми зв'яжемося з вами.
      </p>
      <div class="form wg-form">
        <form
          id="email-form"
          name="email-form"
          data-name="Email Form"
          method="get"
          class="form-wrapper"
          aria-label="Форма електронної пошти"
        >
          <div data-w-id="448b6d0d-1a92-c7d9-d3a8-633181277a3b" class="form-field reveal">
            <label for="name" class="hidden">Ім'я</label
            ><input
              class="text-field wg-input"
              maxlength="256"
              name="name"
              data-name="Name"
              placeholder="Ім'я*"
              type="text"
              id="name"
              required=""
              data-sharkid="__0"
            />
          </div>
          <div data-w-id="a53638b8-1349-b86c-dccc-1aba2e5185cd" class="form-field reveal">
            <label for="email" class="hidden">Адреса електронної пошти</label
            ><input
              class="text-field wg-input"
              maxlength="256"
              name="email"
              data-name="Email"
              placeholder="Електронна пошта*"
              type="email"
              id="email"
              required=""
              data-sharkid="__1"
              data-sharklabel="email"
            /><shark-icon-container
              data-sharkidcontainer="__1"
              style="position: absolute"
            ></shark-icon-container>
          </div>
          <button
            data-w-id="492cf313-0cce-024b-22c0-58627dd882ee"
            type="submit"
            class="button button-green form-button reveal"
          >
            <div class="button-content">Надіслати повідомлення</div>
            <div class="button-hover background-green-secondary" style=""></div>
          </button>
        </form>
        <div
          class="success-message wg-form-done"
          tabindex="-1"
          role="region"
          aria-label="Успішно заповнена форма електронної пошти"
        >
          <div>Дякуємо! Вашу заявку отримано!</div>
        </div>
        <div
          class="wg-form-fail"
          tabindex="-1"
          role="region"
          aria-label="Помилка форми електронної пошти"
        >
          <div>Ой! Щось пішло не так під час надсилання форми.</div>
        </div>
      </div>
    </div>
    <div class="contact-image-wrapper">
      <img
        class="contact-image"
        src="/images/Rectangle-2@2x.webp"
        width="540"
        height="732"
        alt="Інструктор"
        sizes="(max-width: 479px) 87vw, (max-width: 767px) 290px, (max-width: 991px) 44vw, (max-width: 1439px) 42vw, 540px"
        data-w-id="2131ae13-f70a-0457-fb67-a9df4d4b9e59"
        loading="lazy"
        srcset="
          /images/Rectangle-2@2x-p-500.png  500w,
          /images/Rectangle-2@2x-p-800.png  800w,
          /images/Rectangle-2@2x.webp      1080w
        "
        style="
          will-change: transform;
          transform: translate3d(0px, -10%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
            rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      />
    </div>
  </div>
</section>
