<div data-w-id="93534765-4834-9163-ad77-865936a3583c" class="experts">
  <section
    data-w-id="c28c14cb-5661-ffd1-d9cb-0d2b1cc9b872"
    class="section section-padding-small experts-info"
  >
    <div class="container experts-conainer">
      <div class="experts-content">
        <h2
          data-w-id="1cd4598f-990d-b5d5-7d28-e5fc399edaff"
          style="
            transform: translate3d(0px, 60px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
              rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            opacity: 0;
          "
          class="text-center experts-title"
        >
          <span class="text-italic">Досвідчені</span> інструктори
        </h2>
        <p
          data-w-id="c53ffeee-a1c8-e906-202c-c051e10c5d89"
          style="
            transform: translate3d(0px, 60px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
              rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            opacity: 0;
          "
          class="text text-center"
        >
          Кожен інструктор має сертифікат у відповідній дисципліні йоги та прагне супроводжувати вас
          на вашому шляху з персональною увагою.
        </p>
        <a
          data-w-id="8a01122d-0bf3-4ec9-5fef-16fff817be68"
          style="
            transform: translate3d(0px, 60px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
              rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            opacity: 0;
          "
          href="#"
          class="button button-green experts-button w-inline-block"
          ><div class="button-content"><div>Купити підписку</div></div>
          <div class="button-hover background-green-secondary" style=""></div
        ></a>
      </div>
      <div class="experts-image-wrapper">
        <img
          class="experts-image"
          src="/images/Rectangle-1@2x.webp"
          width="540"
          height="732"
          alt="Інструктор"
          sizes="(max-width: 479px) 87vw, (max-width: 767px) 290px, (max-width: 991px) 44vw, (max-width: 1439px) 43vw, 540px"
          data-w-id="29e9e5b5-e048-ea42-a4b5-de5e05386790"
          loading="lazy"
          srcset="
            /images/Rectangle-1@2x-p-500.png  500w,
            /images/Rectangle-1@2x-p-800.png  800w,
            /images/Rectangle-1@2x.webp      1080w
          "
          style="
            will-change: transform;
            transform: translate3d(0px, -10%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
              rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
          "
        />
      </div>
    </div>
  </section>
  <div
    data-poster-url="/videos/production_id_4608975-1080p-poster-00001.jpg"
    data-video-urls="/videos/production_id_4608975-1080p-transcode.mp4,/videos/production_id_4608975-1080p-transcode.webm"
    data-autoplay="true"
    data-loop="true"
    data-wf-ignore="true"
    class="experts-video w-background-video w-background-video-atom"
  >
    <video
      id="bae160ef-b245-483d-25b0-52e25be50914-video"
      autoplay=""
      loop=""
      style="
        background-image: url(&quot;/videos/production_id_4608975-1080p-poster-00001.jpg&quot;);
      "
      muted=""
      playsinline=""
      data-wf-ignore="true"
      data-object-fit="cover"
    >
      <source src="/videos/production_id_4608975-1080p-transcode.mp4" data-wf-ignore="true" />
      <source
        src="/videos/production_id_4608975-1080p-transcode.webm"
        data-wf-ignore="true"
      /></video
    ><noscript
      ><style>
        [data-wf-bgvideo-fallback-img] {
          display: none;
        }
        @media (prefers-reduced-motion: reduce) {
          [data-wf-bgvideo-fallback-img] {
            position: absolute;
            z-index: -100;
            display: inline-block;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }</style
      ><img
        data-wf-bgvideo-fallback-img="true"
        src="/videos/production_id_4608975-1080p-poster-00001.jpg"
        alt=""
    /></noscript>
    <div aria-live="polite">
      <button
        type="button"
        data-w-bg-video-control="true"
        aria-controls="bae160ef-b245-483d-25b0-52e25be50914-video"
        data-w-id="bae160ef-b245-483d-25b0-52e25be50915"
        class="w-backgroundvideo-backgroundvideoplaypausebutton video-button w-background-video--control"
      >
        <span class="play-state hidden"
          ><img loading="lazy" src="/images/Pause.svg" alt="Призупинити відео" /></span
        ><span
          style="background-color: rgb(255, 255, 255); color: rgb(63, 61, 68)"
          hidden=""
          class="pause-state"
          ><div class="svg w-embed">
            <svg
              width="11"
              height="14"
              viewBox="0 0 11 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.5 6.13397C11.1667 6.51888 11.1667 7.48112 10.5 7.86603L1.5 13.0622C0.833332 13.4471 -6.10471e-07 12.966 -5.76822e-07 12.1962L-1.2256e-07 1.80385C-8.8911e-08 1.03405 0.833333 0.552922 1.5 0.937822L10.5 6.13397Z"
                fill="currentColor"
              ></path>
            </svg></div
        ></span>
      </button>
    </div>
  </div>
</div>
