<section id="Trainers" data-w-id="3f54be8a-efa6-cd50-271a-1a83f2331edd" class="section instructors">
  <div class="container">
    <header class="section-header">
      <h2
        data-w-id="8a0d2666-6d1c-9ae5-e8a6-b18fb89ddd3e"
        style="
          transform: translate3d(0px, 60px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
            rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
          opacity: 0;
        "
        class="text-center"
      >
        Знайомтесь з нашими <span class="text-italic">інструкторами з йоги.</span> <br />
        Вони допоможуть вам досягти велнесу
      </h2>
      <p
        data-w-id="9cd79694-aa07-1623-7055-983174b73b36"
        style="
          transform: translate3d(0px, 60px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
            rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
          opacity: 0;
        "
        class="text text-center section-header-text"
      >
        Кожен інструктор має сертифікат у відповідній дисципліні йоги та прагне супроводжувати вас
        на вашому шляху з персоналізованою увагою. Незалежно від того, чи ви новачок
      </p>
    </header>
    <div class="instructors-wrapper">
      <div class="instructors-inner">
        <div class="instructors-collection w-dyn-list">
          <div role="list" class="instructors-list w-dyn-items">
            <div role="listitem" class="instructors-item w-dyn-item">
              <div data-w-id="b21d6512-8772-7f08-6a76-66de03db91ca" class="instructor-card">
                <div class="instructor-card-image-wrapper">
                  <img
                    alt="Хав'єр Моралес"
                    loading="lazy"
                    width="340"
                    height="490"
                    src="/images/Rectangle-3@2x.webp"
                    class="instructor-card-image"
                    style=""
                  />
                </div>
                <div class="instructor-card-info">
                  <h3>Хав'єр Моралес</h3>
                  <div class="instructor-card-experience">
                    <div>Досвід:&nbsp;</div>
                    <div>8</div>
                    <div>&nbsp;роки</div>
                    <div class="w-condition-invisible">&nbsp;рік</div>
                  </div>
                </div>
              </div>
              <div style="display: none; opacity: 0" class="modal modal-instructor">
                <div data-w-id="5cfe1cd8-01e7-35c7-b8c8-0378ce804511" class="modal-overlay"></div>
                <div class="modal-wrapper">
                  <div class="modal-content">
                    <div class="instructor-info">
                      <div class="instructor-info-field">
                        <h3 class="heading-medium font-family-second">Хав'єр Моралес</h3>
                        <p class="color-gray-200">
                          Інструктор з йоги, якого часто називають викладачем йоги або тренером з
                          йоги, – це кваліфікований фахівець, який присвятив себе супроводу людей на
                          їхньому шляху до фізичного, психічного та духовного благополуччя через
                          практику йоги.
                        </p>
                      </div>
                      <div class="instructor-info-field">
                        <h4 class="heading-small font-weight-normal">Досвід</h4>
                        <div class="rich-text w-richtext">
                          <ul role="list">
                            <li>
                              Ефективна комунікація – ключовий аспект навичок інструктора з йоги
                            </li>
                            <li>
                              Інструктор не лише керує вправою, але й уважно стежить за учнями, щоб
                              забезпечити правильну техніку та дихання.
                            </li>
                            <li>Praesentium voluptatum deleniti atque.</li>
                            <li>Quas molestias exceptionuri sint occaecati.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="instructor-socials">
                        <ul role="list" class="socials w-list-unstyled">
                          <li class="socials-item">
                            <a
                              arial-label="Link to LinkedIn"
                              href="https://www.linkedin.com/company/digitalbutlers/"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  width="21"
                                  height="21"
                                  viewBox="0 0 21 21"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M6.30527 19.5H2.7808V8.14997H6.30527V19.5ZM4.54114 6.60172C3.41413 6.60172 2.5 5.66822 2.5 4.54118C2.5 3.99983 2.71505 3.48065 3.09784 3.09785C3.48062 2.71505 3.99979 2.5 4.54114 2.5C5.08248 2.5 5.60165 2.71505 5.98444 3.09785C6.36723 3.48065 6.58228 3.99983 6.58228 4.54118C6.58228 5.66822 5.66777 6.60172 4.54114 6.60172ZM19.4962 19.5H15.9793V13.9749C15.9793 12.6581 15.9528 10.9695 14.1469 10.9695C12.3145 10.9695 12.0337 12.4001 12.0337 13.88V19.5H8.51299V8.14997H11.8933V9.69822H11.9426C12.4131 8.80646 13.5625 7.86537 15.2773 7.86537C18.8443 7.86537 19.5 10.2143 19.5 13.2653V19.5H19.4962Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                          <li class="socials-item">
                            <a
                              aria-label="Посилання на Твіттер"
                              href="https://twitter.com/Digital_Butlers"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                >
                                  <path
                                    d="M17.99 2H21.298L14.071 10.26L22.573 21.5H15.916L10.702 14.683L4.736 21.5H1.426L9.156 12.665L1 2H7.826L12.539 8.231L17.99 2ZM16.829 19.52H18.662L6.83 3.876H4.863L16.829 19.52Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                          <li class="socials-item">
                            <a
                              aria-label="Посилання на Фейсбук"
                              href="https://www.facebook.com/people/Digital-Butlers-Studio/100090264223869/"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="25"
                                  height="25"
                                  viewBox="0 0 25 25"
                                  fill="none"
                                >
                                  <path
                                    id="Vector"
                                    d="M15.6194 5.82003H17.4994V2.64003C16.5891 2.54538 15.6745 2.49865 14.7594 2.50003C12.0394 2.50003 10.1794 4.16003 10.1794 7.20003V9.82003H7.10938V13.38H10.1794V22.5H13.8594V13.38H16.9194L17.3794 9.82003H13.8594V7.55003C13.8594 6.50003 14.1394 5.82003 15.6194 5.82003Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <button
                    data-w-id="5cfe1cd8-01e7-35c7-b8c8-0378ce804512"
                    type="button"
                    aria-label="закрити модальне вікно"
                    class="modal-close"
                  >
                    <div class="svg w-embed">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
                          stroke="currentColor"
                          stroke-width="0.5"
                        ></path>
                        <path
                          d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
                          stroke="currentColor"
                          stroke-width="0.5"
                        ></path>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div role="listitem" class="instructors-item w-dyn-item">
              <div data-w-id="b21d6512-8772-7f08-6a76-66de03db91ca" class="instructor-card">
                <div class="instructor-card-image-wrapper">
                  <img
                    alt="Радж Гупта"
                    loading="lazy"
                    width="340"
                    height="490"
                    src="/images/Instructor-2@2x.webp"
                    class="instructor-card-image"
                    style=""
                  />
                </div>
                <div class="instructor-card-info">
                  <h3>Радж Гупта</h3>
                  <div class="instructor-card-experience">
                    <div>Досвід:&nbsp;</div>
                    <div>5</div>
                    <div>&nbsp;роки</div>
                    <div class="w-condition-invisible">&nbsp;рік</div>
                  </div>
                </div>
              </div>
              <div style="display: none; opacity: 0" class="modal modal-instructor">
                <div data-w-id="5cfe1cd8-01e7-35c7-b8c8-0378ce804511" class="modal-overlay"></div>
                <div class="modal-wrapper">
                  <div class="modal-content">
                    <div class="instructor-info">
                      <div class="instructor-info-field">
                        <h3 class="heading-medium font-family-second">Радж Гупта</h3>
                        <p class="color-gray-200">
                          Інструктор з йоги, якого часто називають викладачем йоги або тренером з
                          йоги, – це кваліфікований фахівець, який присвятив себе супроводу людей на
                          їхньому шляху до фізичного, психічного та духовного благополуччя через
                          практику йоги.
                        </p>
                      </div>
                      <div class="instructor-info-field">
                        <h4 class="heading-small font-weight-normal">Досвід</h4>
                        <div class="rich-text w-richtext">
                          <ul role="list">
                            <li>
                              Ефективна комунікація – ключовий аспект навичок інструктора з йоги
                            </li>
                            <li>
                              Інструктор не лише керує вправою, але й уважно стежить за учнями, щоб
                              забезпечити правильну техніку та дихання.
                            </li>
                            <li>Praesentium voluptatum deleniti atque.</li>
                            <li>Quas molestias exceptionuri sint occaecati.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="instructor-socials">
                        <ul role="list" class="socials w-list-unstyled">
                          <li class="socials-item">
                            <a
                              arial-label="Link to LinkedIn"
                              href="https://www.linkedin.com/company/digitalbutlers/"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  width="21"
                                  height="21"
                                  viewBox="0 0 21 21"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M6.30527 19.5H2.7808V8.14997H6.30527V19.5ZM4.54114 6.60172C3.41413 6.60172 2.5 5.66822 2.5 4.54118C2.5 3.99983 2.71505 3.48065 3.09784 3.09785C3.48062 2.71505 3.99979 2.5 4.54114 2.5C5.08248 2.5 5.60165 2.71505 5.98444 3.09785C6.36723 3.48065 6.58228 3.99983 6.58228 4.54118C6.58228 5.66822 5.66777 6.60172 4.54114 6.60172ZM19.4962 19.5H15.9793V13.9749C15.9793 12.6581 15.9528 10.9695 14.1469 10.9695C12.3145 10.9695 12.0337 12.4001 12.0337 13.88V19.5H8.51299V8.14997H11.8933V9.69822H11.9426C12.4131 8.80646 13.5625 7.86537 15.2773 7.86537C18.8443 7.86537 19.5 10.2143 19.5 13.2653V19.5H19.4962Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                          <li class="socials-item w-condition-invisible">
                            <a
                              aria-label="Посилання на Твіттер"
                              href="#"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                >
                                  <path
                                    d="M17.99 2H21.298L14.071 10.26L22.573 21.5H15.916L10.702 14.683L4.736 21.5H1.426L9.156 12.665L1 2H7.826L12.539 8.231L17.99 2ZM16.829 19.52H18.662L6.83 3.876H4.863L16.829 19.52Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                          <li class="socials-item">
                            <a
                              aria-label="Посилання на Фейсбук"
                              href="https://www.facebook.com/people/Digital-Butlers-Studio/100090264223869/"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="25"
                                  height="25"
                                  viewBox="0 0 25 25"
                                  fill="none"
                                >
                                  <path
                                    id="Vector"
                                    d="M15.6194 5.82003H17.4994V2.64003C16.5891 2.54538 15.6745 2.49865 14.7594 2.50003C12.0394 2.50003 10.1794 4.16003 10.1794 7.20003V9.82003H7.10938V13.38H10.1794V22.5H13.8594V13.38H16.9194L17.3794 9.82003H13.8594V7.55003C13.8594 6.50003 14.1394 5.82003 15.6194 5.82003Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <button
                    data-w-id="5cfe1cd8-01e7-35c7-b8c8-0378ce804512"
                    type="button"
                    aria-label="закрити модальне вікно"
                    class="modal-close"
                  >
                    <div class="svg w-embed">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
                          stroke="currentColor"
                          stroke-width="0.5"
                        ></path>
                        <path
                          d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
                          stroke="currentColor"
                          stroke-width="0.5"
                        ></path>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div role="listitem" class="instructors-item w-dyn-item">
              <div data-w-id="b21d6512-8772-7f08-6a76-66de03db91ca" class="instructor-card">
                <div class="instructor-card-image-wrapper">
                  <img
                    alt="Міа Томпсон"
                    loading="lazy"
                    width="340"
                    height="490"
                    src="/images/Instructor-3@2x.webp"
                    class="instructor-card-image"
                    style=""
                  />
                </div>
                <div class="instructor-card-info">
                  <h3>Міа Томпсон</h3>
                  <div class="instructor-card-experience">
                    <div>Досвід:&nbsp;</div>
                    <div>3</div>
                    <div>&nbsp;роки</div>
                    <div class="w-condition-invisible">&nbsp;рік</div>
                  </div>
                </div>
              </div>
              <div style="display: none; opacity: 0" class="modal modal-instructor">
                <div data-w-id="5cfe1cd8-01e7-35c7-b8c8-0378ce804511" class="modal-overlay"></div>
                <div class="modal-wrapper">
                  <div class="modal-content">
                    <div class="instructor-info">
                      <div class="instructor-info-field">
                        <h3 class="heading-medium font-family-second">Міа Томпсон</h3>
                        <p class="color-gray-200">
                          Інструктор з йоги, якого часто називають викладачем йоги або тренером з
                          йоги, – це кваліфікований фахівець, який присвятив себе супроводу людей на
                          їхньому шляху до фізичного, психічного та духовного благополуччя через
                          практику йоги.
                        </p>
                      </div>
                      <div class="instructor-info-field">
                        <h4 class="heading-small font-weight-normal">Досвід</h4>
                        <div class="rich-text w-richtext">
                          <ul role="list">
                            <li>
                              Ефективна комунікація – ключовий аспект навичок інструктора з йоги
                            </li>
                            <li>
                              Інструктор не лише керує вправою, але й уважно стежить за учнями, щоб
                              забезпечити правильну техніку та дихання.
                            </li>
                            <li>Praesentium voluptatum deleniti atque.</li>
                            <li>Quas molestias exceptionuri sint occaecati.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="instructor-socials">
                        <ul role="list" class="socials w-list-unstyled">
                          <li class="socials-item">
                            <a
                              arial-label="Link to LinkedIn"
                              href="https://www.linkedin.com/company/digitalbutlers/"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  width="21"
                                  height="21"
                                  viewBox="0 0 21 21"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M6.30527 19.5H2.7808V8.14997H6.30527V19.5ZM4.54114 6.60172C3.41413 6.60172 2.5 5.66822 2.5 4.54118C2.5 3.99983 2.71505 3.48065 3.09784 3.09785C3.48062 2.71505 3.99979 2.5 4.54114 2.5C5.08248 2.5 5.60165 2.71505 5.98444 3.09785C6.36723 3.48065 6.58228 3.99983 6.58228 4.54118C6.58228 5.66822 5.66777 6.60172 4.54114 6.60172ZM19.4962 19.5H15.9793V13.9749C15.9793 12.6581 15.9528 10.9695 14.1469 10.9695C12.3145 10.9695 12.0337 12.4001 12.0337 13.88V19.5H8.51299V8.14997H11.8933V9.69822H11.9426C12.4131 8.80646 13.5625 7.86537 15.2773 7.86537C18.8443 7.86537 19.5 10.2143 19.5 13.2653V19.5H19.4962Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                          <li class="socials-item">
                            <a
                              aria-label="Посилання на Твіттер"
                              href="https://twitter.com/Digital_Butlers"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                >
                                  <path
                                    d="M17.99 2H21.298L14.071 10.26L22.573 21.5H15.916L10.702 14.683L4.736 21.5H1.426L9.156 12.665L1 2H7.826L12.539 8.231L17.99 2ZM16.829 19.52H18.662L6.83 3.876H4.863L16.829 19.52Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                          <li class="socials-item">
                            <a
                              aria-label="Посилання на Фейсбук"
                              href="https://www.facebook.com/people/Digital-Butlers-Studio/100090264223869/"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="25"
                                  height="25"
                                  viewBox="0 0 25 25"
                                  fill="none"
                                >
                                  <path
                                    id="Vector"
                                    d="M15.6194 5.82003H17.4994V2.64003C16.5891 2.54538 15.6745 2.49865 14.7594 2.50003C12.0394 2.50003 10.1794 4.16003 10.1794 7.20003V9.82003H7.10938V13.38H10.1794V22.5H13.8594V13.38H16.9194L17.3794 9.82003H13.8594V7.55003C13.8594 6.50003 14.1394 5.82003 15.6194 5.82003Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <button
                    data-w-id="5cfe1cd8-01e7-35c7-b8c8-0378ce804512"
                    type="button"
                    aria-label="закрити модальне вікно"
                    class="modal-close"
                  >
                    <div class="svg w-embed">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
                          stroke="currentColor"
                          stroke-width="0.5"
                        ></path>
                        <path
                          d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
                          stroke="currentColor"
                          stroke-width="0.5"
                        ></path>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div role="listitem" class="instructors-item w-dyn-item">
              <div data-w-id="b21d6512-8772-7f08-6a76-66de03db91ca" class="instructor-card">
                <div class="instructor-card-image-wrapper">
                  <img
                    alt="Кетрін Міллер"
                    loading="lazy"
                    width="340"
                    height="490"
                    src="/images/Instructor-4@2x.webp"
                    class="instructor-card-image"
                  />
                </div>
                <div class="instructor-card-info">
                  <h3>Кетрін Міллер</h3>
                  <div class="instructor-card-experience">
                    <div>Досвід:&nbsp;</div>
                    <div>8</div>
                    <div>&nbsp;роки</div>
                    <div class="w-condition-invisible">&nbsp;рік</div>
                  </div>
                </div>
              </div>
              <div style="display: none; opacity: 0" class="modal modal-instructor">
                <div data-w-id="5cfe1cd8-01e7-35c7-b8c8-0378ce804511" class="modal-overlay"></div>
                <div class="modal-wrapper">
                  <div class="modal-content">
                    <div class="instructor-info">
                      <div class="instructor-info-field">
                        <h3 class="heading-medium font-family-second">Кетрін Міллер</h3>
                        <p class="color-gray-200">
                          Інструктор з йоги, якого часто називають викладачем йоги або тренером з
                          йоги, – це кваліфікований фахівець, який присвятив себе супроводу людей на
                          їхньому шляху до фізичного, психічного та духовного благополуччя через
                          практику йоги.
                        </p>
                      </div>
                      <div class="instructor-info-field">
                        <h4 class="heading-small font-weight-normal">Досвід</h4>
                        <div class="rich-text w-richtext">
                          <ul role="list">
                            <li>
                              Ефективна комунікація – ключовий аспект навичок інструктора з йоги
                            </li>
                            <li>
                              Інструктор не лише керує вправою, але й уважно стежить за учнями, щоб
                              забезпечити правильну техніку та дихання.
                            </li>
                            <li>Praesentium voluptatum deleniti atque.</li>
                            <li>Quas molestias exceptionuri sint occaecati.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="instructor-socials">
                        <ul role="list" class="socials w-list-unstyled">
                          <li class="socials-item">
                            <a
                              arial-label="Link to LinkedIn"
                              href="https://www.linkedin.com/company/digitalbutlers/"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  width="21"
                                  height="21"
                                  viewBox="0 0 21 21"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M6.30527 19.5H2.7808V8.14997H6.30527V19.5ZM4.54114 6.60172C3.41413 6.60172 2.5 5.66822 2.5 4.54118C2.5 3.99983 2.71505 3.48065 3.09784 3.09785C3.48062 2.71505 3.99979 2.5 4.54114 2.5C5.08248 2.5 5.60165 2.71505 5.98444 3.09785C6.36723 3.48065 6.58228 3.99983 6.58228 4.54118C6.58228 5.66822 5.66777 6.60172 4.54114 6.60172ZM19.4962 19.5H15.9793V13.9749C15.9793 12.6581 15.9528 10.9695 14.1469 10.9695C12.3145 10.9695 12.0337 12.4001 12.0337 13.88V19.5H8.51299V8.14997H11.8933V9.69822H11.9426C12.4131 8.80646 13.5625 7.86537 15.2773 7.86537C18.8443 7.86537 19.5 10.2143 19.5 13.2653V19.5H19.4962Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                          <li class="socials-item w-condition-invisible">
                            <a
                              aria-label="Посилання на Твіттер"
                              href="#"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                >
                                  <path
                                    d="M17.99 2H21.298L14.071 10.26L22.573 21.5H15.916L10.702 14.683L4.736 21.5H1.426L9.156 12.665L1 2H7.826L12.539 8.231L17.99 2ZM16.829 19.52H18.662L6.83 3.876H4.863L16.829 19.52Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                          <li class="socials-item">
                            <a
                              aria-label="Посилання на Фейсбук"
                              href="https://www.facebook.com/people/Digital-Butlers-Studio/100090264223869/"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="25"
                                  height="25"
                                  viewBox="0 0 25 25"
                                  fill="none"
                                >
                                  <path
                                    id="Vector"
                                    d="M15.6194 5.82003H17.4994V2.64003C16.5891 2.54538 15.6745 2.49865 14.7594 2.50003C12.0394 2.50003 10.1794 4.16003 10.1794 7.20003V9.82003H7.10938V13.38H10.1794V22.5H13.8594V13.38H16.9194L17.3794 9.82003H13.8594V7.55003C13.8594 6.50003 14.1394 5.82003 15.6194 5.82003Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <button
                    data-w-id="5cfe1cd8-01e7-35c7-b8c8-0378ce804512"
                    type="button"
                    aria-label="закрити модальне вікно"
                    class="modal-close"
                  >
                    <div class="svg w-embed">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
                          stroke="currentColor"
                          stroke-width="0.5"
                        ></path>
                        <path
                          d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
                          stroke="currentColor"
                          stroke-width="0.5"
                        ></path>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div role="listitem" class="instructors-item w-dyn-item">
              <div data-w-id="b21d6512-8772-7f08-6a76-66de03db91ca" class="instructor-card">
                <div class="instructor-card-image-wrapper">
                  <img
                    alt="Ава Гарсія"
                    loading="lazy"
                    width="340"
                    height="490"
                    src="/images/Instructor-5@2x.webp"
                    class="instructor-card-image"
                  />
                </div>
                <div class="instructor-card-info">
                  <h3>Ава Гарсія</h3>
                  <div class="instructor-card-experience">
                    <div>Досвід:&nbsp;</div>
                    <div>8</div>
                    <div>&nbsp;роки</div>
                    <div class="w-condition-invisible">&nbsp;рік</div>
                  </div>
                </div>
              </div>
              <div style="display: none; opacity: 0" class="modal modal-instructor">
                <div data-w-id="5cfe1cd8-01e7-35c7-b8c8-0378ce804511" class="modal-overlay"></div>
                <div class="modal-wrapper">
                  <div class="modal-content">
                    <div class="instructor-info">
                      <div class="instructor-info-field">
                        <h3 class="heading-medium font-family-second">Ава Гарсія</h3>
                        <p class="color-gray-200">
                          Інструктор з йоги, якого часто називають викладачем йоги або тренером з
                          йоги, – це кваліфікований фахівець, який присвятив себе супроводу людей на
                          їхньому шляху до фізичного, психічного та духовного благополуччя через
                          практику йоги.
                        </p>
                      </div>
                      <div class="instructor-info-field">
                        <h4 class="heading-small font-weight-normal">Досвід</h4>
                        <div class="rich-text w-richtext">
                          <ul role="list">
                            <li>
                              Ефективна комунікація – ключовий аспект навичок інструктора з йоги
                            </li>
                            <li>
                              Інструктор не лише керує вправою, але й уважно стежить за учнями, щоб
                              забезпечити правильну техніку та дихання.
                            </li>
                            <li>Praesentium voluptatum deleniti atque.</li>
                            <li>Quas molestias exceptionuri sint occaecati.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="instructor-socials">
                        <ul role="list" class="socials w-list-unstyled">
                          <li class="socials-item w-condition-invisible">
                            <a
                              arial-label="Link to LinkedIn"
                              href="#"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  width="21"
                                  height="21"
                                  viewBox="0 0 21 21"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M6.30527 19.5H2.7808V8.14997H6.30527V19.5ZM4.54114 6.60172C3.41413 6.60172 2.5 5.66822 2.5 4.54118C2.5 3.99983 2.71505 3.48065 3.09784 3.09785C3.48062 2.71505 3.99979 2.5 4.54114 2.5C5.08248 2.5 5.60165 2.71505 5.98444 3.09785C6.36723 3.48065 6.58228 3.99983 6.58228 4.54118C6.58228 5.66822 5.66777 6.60172 4.54114 6.60172ZM19.4962 19.5H15.9793V13.9749C15.9793 12.6581 15.9528 10.9695 14.1469 10.9695C12.3145 10.9695 12.0337 12.4001 12.0337 13.88V19.5H8.51299V8.14997H11.8933V9.69822H11.9426C12.4131 8.80646 13.5625 7.86537 15.2773 7.86537C18.8443 7.86537 19.5 10.2143 19.5 13.2653V19.5H19.4962Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                          <li class="socials-item">
                            <a
                              aria-label="Посилання на Твіттер"
                              href="https://twitter.com/Digital_Butlers"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                >
                                  <path
                                    d="M17.99 2H21.298L14.071 10.26L22.573 21.5H15.916L10.702 14.683L4.736 21.5H1.426L9.156 12.665L1 2H7.826L12.539 8.231L17.99 2ZM16.829 19.52H18.662L6.83 3.876H4.863L16.829 19.52Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                          <li class="socials-item">
                            <a
                              aria-label="Посилання на Фейсбук"
                              href="https://www.facebook.com/people/Digital-Butlers-Studio/100090264223869/"
                              target="_blank"
                              class="socials-link background-green w-inline-block"
                              ><div class="svg button-icon w-embed">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="25"
                                  height="25"
                                  viewBox="0 0 25 25"
                                  fill="none"
                                >
                                  <path
                                    id="Vector"
                                    d="M15.6194 5.82003H17.4994V2.64003C16.5891 2.54538 15.6745 2.49865 14.7594 2.50003C12.0394 2.50003 10.1794 4.16003 10.1794 7.20003V9.82003H7.10938V13.38H10.1794V22.5H13.8594V13.38H16.9194L17.3794 9.82003H13.8594V7.55003C13.8594 6.50003 14.1394 5.82003 15.6194 5.82003Z"
                                    fill="currentColor"
                                  ></path>
                                </svg>
                              </div>
                              <div class="button-hover background-green-secondary" style=""></div
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <button
                    data-w-id="5cfe1cd8-01e7-35c7-b8c8-0378ce804512"
                    type="button"
                    aria-label="закрити модальне вікно"
                    class="modal-close"
                  >
                    <div class="svg w-embed">
                      <svg
                        width="18"
                        height="18"
                        viewBox="0 0 18 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
                          fill="currentColor"
                        ></path>
                        <path
                          d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
                          stroke="currentColor"
                          stroke-width="0.5"
                        ></path>
                        <path
                          d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
                          stroke="currentColor"
                          stroke-width="0.5"
                        ></path>
                      </svg>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
