<section data-w-id="4fede338-3381-1398-987f-e6070a178591" class="section journey">
  <div class="container">
    <header class="section-header section-header-small-margin-bottom">
      <h2 data-w-id="e9306ccd-56fe-3773-12ec-b03ce2d9d3e4" class="text-center journey-title reveal">
        Візуальна <span class="text-italic">подорож</span> гармонії розуму та тіла
      </h2>
    </header>
    <div
      data-delay="4000"
      data-animation="slide"
      class="journey-slider wg-slider reveal"
      data-autoplay="false"
      data-easing="ease"
      data-hide-arrows="false"
      data-disable-swipe="false"
      data-w-id="f7b96375-0ba6-9cd5-2d92-d9d37efa51f2"
      data-autoplay-limit="0"
      data-nav-spacing="3"
      data-duration="500"
      data-infinite="true"
      role="region"
      aria-label="карусель"
    >
      <div class="journey-slider-wrapper wg-slider-mask" id="w-slider-mask-1">
        <div class="journey-slide wg-slide" aria-label="1 of 5" role="group" aria-hidden="true">
          <img
            src="/images/Property-1=Variant11@2x.webp"
            loading="lazy"
            width="1440"
            height="800"
            alt="Жінка"
            class="journay-image"
            aria-hidden="true"
          />
        </div>
        <div class="journey-slide wg-slide" aria-label="2 of 5" role="group">
          <img
            src="/images/Property-1=Variant12@2x.webp"
            loading="lazy"
            width="1440"
            height="800"
            alt="Жінка"
            class="journay-image"
          />
        </div>
        <div class="journey-slide wg-slide" aria-label="3 of 5" role="group" aria-hidden="true">
          <img
            src="/images/Property-1=Variant13@2x.webp"
            loading="lazy"
            width="1440"
            height="800"
            alt="Медитація"
            class="journay-image"
            aria-hidden="true"
          />
        </div>
        <div class="journey-slide wg-slide" aria-label="4 of 5" role="group" aria-hidden="true">
          <img
            src="/images/Property-1=Variant16@2x.webp"
            loading="lazy"
            width="1440"
            height="800"
            alt="Жінка займається фізичними вправами"
            class="journay-image"
            aria-hidden="true"
          />
        </div>
        <div class="journey-slide wg-slide" aria-label="5 of 5" role="group" aria-hidden="true">
          <img
            src="/images/Property-1=Variant18@2x.webp"
            loading="lazy"
            width="1440"
            height="800"
            alt="Жінка займається фізичними вправами"
            class="journay-image"
            aria-hidden="true"
          />
        </div>
        <div aria-live="off" aria-atomic="true" class="wg-slider-aria-label">Slide 2 of 5.</div>
      </div>
      <div
        class="button-navigation prev wg-slider-arrow-left"
        role="button"
        tabindex="0"
        aria-controls="w-slider-mask-1"
        aria-label="попередній слайд"
      >
        <div class="svg rotate-270 wg-embed">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
          >
            <path
              d="M5.71373 14.787L12.501 7.99975L19.2863 14.787"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <div
        class="button-navigation next wg-slider-arrow-right"
        role="button"
        tabindex="0"
        aria-controls="w-slider-mask-1"
        aria-label="наступний слайд"
      >
        <div class="svg rotate-90 wg-embed">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 25 25"
            fill="none"
          >
            <path
              d="M5.71373 14.787L12.501 7.99975L19.2863 14.787"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </div>
      </div>
      <div class="tablet-visible wg-slider-nav wg-slider-nav-invert wg-round">
        <div
          class="wg-slider-dot"
          aria-label="Показати слайд 1 з 5"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px"
        ></div>
        <div
          class="wg-slider-dot wg-active"
          aria-label="Показати слайд 2 з 5"
          aria-pressed="true"
          role="button"
          tabindex="0"
          style="margin-left: 3px; margin-right: 3px"
        ></div>
        <div
          class="wg-slider-dot"
          aria-label="Показати слайд 3 з 5"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px"
        ></div>
        <div
          class="wg-slider-dot"
          aria-label="Показати слайд 4 з 5"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px"
        ></div>
        <div
          class="wg-slider-dot"
          aria-label="Показати слайд 5 з 5"
          aria-pressed="false"
          role="button"
          tabindex="-1"
          style="margin-left: 3px; margin-right: 3px"
        ></div>
      </div>
    </div>
  </div>
</section>
