<section id="Memberships" data-w-id="72cb2a11-40d3-cfa2-f8d7-1f12ec12a143" class="section plans">
  <div class="container">
    <header class="section-header">
      <h2
        data-w-id="eefd91f5-3c50-60bb-6def-b38d22a3520e"
        style="
          transform: translate3d(0px, 60px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
            rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
          opacity: 0;
        "
        class="text-center plans-title"
      >
        Тарифні <span class="text-italic">плани</span> для вашої оздоровчої йога-подорожі
      </h2>
    </header>
    <div
      data-w-id="18504b1a-1742-161a-4500-53ee33aed338"
      style="
        transform: translate3d(0px, 60px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
          rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
        opacity: 0;
      "
      class="plans-wrapper"
    >
      <ul role="list" class="plans-list w-list-unstyled">
        <li class="plans-item">
          <div class="plan plan-left">
            <div class="plan-wrapper">
              <div class="tag"><div>Базове членство</div></div>
              <h3 class="plan-price">125 доларів США/місяць</h3>
              <ul role="list" class="plan-features w-list-unstyled">
                <li class="plan-feature custom-marker-item">
                  <div style="background-color: currentColor" class="custom-marker"></div>
                  <p class="text">Необмежений доступ до занять йогою протягом одного місяця</p>
                </li>
                <li class="plan-feature custom-marker-item">
                  <div style="background-color: currentColor" class="custom-marker"></div>
                  <p class="text">Участь у групових заняттях з різних стилів йоги</p>
                </li>
                <li class="plan-feature custom-marker-item">
                  <div style="background-color: currentColor" class="custom-marker"></div>
                  <p class="text">Доступ до обладнання та зон відпочинку в студії</p>
                </li>
              </ul>
              <a
                data-w-id="84db8211-562f-2e2c-f003-b0e2cd560075"
                href="#"
                class="button button-smoke plan-button w-inline-block"
                ><div class="button-content"><div>Купити підписку</div></div>
                <div class="button-hover background-pudra" style=""></div
              ></a>
            </div>
          </div>
        </li>
        <li class="plans-item">
          <div class="plan">
            <div class="plan-wrapper background-green">
              <div class="tag-white"><div>VIP-членство</div></div>
              <h3 class="plan-price">150 доларів США/місяць</h3>
              <ul role="list" class="plan-features w-list-unstyled">
                <li class="plan-feature custom-marker-item">
                  <div style="background-color: currentColor" class="custom-marker"></div>
                  <p class="text">Усі переваги «Базового членства»</p>
                </li>
                <li class="plan-feature custom-marker-item">
                  <div style="background-color: currentColor" class="custom-marker"></div>
                  <p class="text">
                    Персоналізовані індивідуальні заняття з досвідченим інструктором
                  </p>
                </li>
                <li class="plan-feature custom-marker-item">
                  <div style="background-color: currentColor" class="custom-marker"></div>
                  <p class="text">Пріоритетне бронювання для занять з високим попитом</p>
                </li>
              </ul>
              <a
                data-w-id="6608d357-89cf-2b5d-c35d-06986f35cfc8"
                href="#"
                class="button button-smoke plan-button w-inline-block"
                ><div class="button-content"><div>Купити підписку</div></div>
                <div class="button-hover background-pudra" style=""></div
              ></a>
            </div>
          </div>
        </li>
        <li class="plans-item">
          <div class="plan plan-right">
            <div class="plan-wrapper">
              <div class="tag"><div>Онлайн-членство</div></div>
              <h3 class="plan-price">225 доларів США/місяць</h3>
              <ul role="list" class="plan-features w-list-unstyled">
                <li class="plan-feature custom-marker-item">
                  <div style="background-color: currentColor" class="custom-marker"></div>
                  <p class="text">
                    Доступ до онлайн-платформи для занять йогою з будь-якої точки світу
                  </p>
                </li>
                <li class="plan-feature custom-marker-item">
                  <div style="background-color: currentColor" class="custom-marker"></div>
                  <p class="text">Щоденні прямі трансляції з професійними інструкторами</p>
                </li>
                <li class="plan-feature custom-marker-item">
                  <div style="background-color: currentColor" class="custom-marker"></div>
                  <p class="text">
                    Можливість переглядати записи попередніх занять у зручний для вас час
                  </p>
                </li>
              </ul>
              <a
                data-w-id="a6418f1e-6fa5-a17d-aef7-23a8134e9593"
                href="#"
                class="button button-smoke plan-button w-inline-block"
                ><div class="button-content"><div>Купити підписку</div></div>
                <div class="button-hover background-pudra" style=""></div
              ></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
