<section id="Reviews" data-w-id="9f8a9ad0-10d5-a6b0-f3d4-fcdad4443f60" class="section reviews">
  <div class="container">
    <div class="section-header text-center">
      <h2 data-w-id="0c3e40ad-283d-e03f-0fd5-6990311a3878" class="reviews-title reveal">
        Святкуємо <span class="text-italic">успіх у йозі.</span> Послухайте, що говорять
        <span class="text-italic">наші клієнти</span>
      </h2>
    </div>
    <div class="reviews-wrapper">
      <div class="reviews-inner">
        <ul
          data-w-id="5b9e0beb-507d-3566-cb94-07603cc53982"
          role="list"
          class="reviews-list wg-list-unstyled"
          style=""
        >
          <li class="reviews-item">
            <div class="review">
              <div class="review-stars">
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="review-content">
                <h3>Студія йоги – це джерело гармонії та позитивних емоцій!</h3>
                <p class="color-gray-200">
                  «Студія йоги [Назва студії] – це джерело гармонії та позитивних емоцій! Я відвідую
                  заняття вже півтора року, і результати вражають. Інструктори чудово виконують свою
                  роботу та завжди допомагають знайти правильний рівень складності. Я знайшла не
                  лише фізичну активність, а й друзів серед однодумців. Завдяки інструкторам я стала
                  більш гнучкою та спокійною».
                </p>
              </div>
              <div class="review-author">
                <div><span class="text">Джон Сміт,</span> 26 років</div>
              </div>
            </div>
          </li>
          <li class="reviews-item">
            <div class="review-video">
              <a
                href="#"
                data-w-id="1846c1b5-868d-4306-b47d-4fd407e4134e"
                class="review-background-video wg-inline-block"
                aria-label="відкритий лайтбокс"
                aria-haspopup="dialog"
                ><img
                  src="/images/1156672379-7a07f12ca06c4dd96e0f3e9e3d8de4c73bf7d790478f00ce55124f0961d9ea25-d.webp"
                  loading="lazy"
                  sizes="(max-width: 479px) 304.796875px, (max-width: 767px) 355.46875px, (max-width: 991px) 373.203125px, (max-width: 1439px) 30vw, 420px"
                  srcset="
                    /images/1156672379-7a07f12ca06c4dd96e0f3e9e3d8de4c73bf7d790478f00ce55124f0961d9ea25-d-p-500.webp 500w,
                    /images/1156672379-7a07f12ca06c4dd96e0f3e9e3d8de4c73bf7d790478f00ce55124f0961d9ea25-d.webp       800w
                  "
                  alt="Огляд"
                  class="review-poster"
                />
                <div
                  style="background-color: rgb(255, 255, 255); color: rgb(63, 61, 68)"
                  class="pause-state"
                >
                  <div class="svg wg-embed">
                    <svg
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10.5 6.13397C11.1667 6.51888 11.1667 7.48112 10.5 7.86603L1.5 13.0622C0.833332 13.4471 -6.10471e-07 12.966 -5.76822e-07 12.1962L-1.2256e-07 1.80385C-8.8911e-08 1.03405 0.833333 0.552922 1.5 0.937822L10.5 6.13397Z"
                        fill="currentColor"
                      ></path>
                    </svg>
                  </div>
                </div>
                <script type="application/json" class="">
                  {
                    "items": [
                      {
                        "url": "https://player.vimeo.com/video/559580269?title=0&portrait=0&byline=0&autoplay=1&muted=true",
                        "originalUrl": "https://player.vimeo.com/video/559580269?title=0&portrait=0&byline=0&autoplay=1&muted=true",
                        "width": 940,
                        "height": 1783,
                        "thumbnailUrl": "https://i.vimeocdn.com/video/1156672379-7a07f12ca06c4dd96e0f3e9e3d8de4c73bf7d790478f00ce55124f0961d9ea25-d_1280",
                        "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F559580269%3Fapp_id%3D122963&dntp=1&display_name=Vimeo&url=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F559580269&image=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F1156672379-7a07f12ca06c4dd96e0f3e9e3d8de4c73bf7d790478f00ce55124f0961d9ea25-d_1280&key=96f1f04c5f4143bcb0f2e68c87d65feb&autoplay=1&type=text%2Fhtml&schema=vimeo\" width=\"940\" height=\"1783\" scrolling=\"no\" title=\"Vimeo embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
                        "type": "video"
                      }
                    ],
                    "group": "Reviews"
                  }
                </script></a
              >
              <div class="review-video-content">
                <h3>Емілі Джонсон</h3>
                <div>23 роки</div>
              </div>
            </div>
          </li>
          <li class="reviews-item">
            <div class="review">
              <div class="review-stars">
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="review-content">
                <h3>Я займаюся йогою тут роками</h3>
                <p class="color-gray-200">
                  Я займаюся йогою тут роками і постійно вражаюся її позитивним впливом на моє
                  фізичне та психічне благополуччя. Тутешня спільнота підтримує та надихає.
                </p>
              </div>
              <div class="review-author">
                <div><span class="text">Вільям Девіс,</span> 19 років</div>
              </div>
            </div>
          </li>
        </ul>
        <ul
          data-w-id="b0022050-a255-464d-0b85-0025c3a969a3"
          role="list"
          class="reviews-list wg-list-unstyled"
          style=""
        >
          <li class="reviews-item">
            <div class="review">
              <div class="review-stars">
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="review-content">
                <h3>Я знайшов свій притулок у цій студії йоги.</h3>
                <p class="color-gray-200">
                  Я знайшла свій притулок у цій студії йоги. Інструктори неймовірно обізнані та
                  створюють гостинну атмосферу, яка робить кожне заняття омолоджувальним досвідом.
                </p>
              </div>
              <div class="review-author">
                <div><span class="text">Софія Браун,</span> 20 років</div>
              </div>
            </div>
          </li>
          <li class="reviews-item">
            <div class="review">
              <div class="review-stars">
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="review-content">
                <h3>Ця студія йоги – справжня перлина!</h3>
                <p class="color-gray-200">
                  «Ця студія йоги – справжня перлина! Різноманітність занять підходить для всіх
                  рівнів, а спокійна атмосфера миттєво переводить вас у дзен-стан. Інструктори
                  чудово справляються зі своєю роботою та завжди допомагають знайти правильний
                  рівень складності. Я знайшла не лише фізичну активність, а й друзів серед
                  однодумців. Завдяки інструкторам я стала більш гнучкою та спокійною».
                </p>
              </div>
              <div class="review-author">
                <div><span class="text">Деніел Вілсон,</span> 31 рік</div>
              </div>
            </div>
          </li>
          <li class="reviews-item">
            <div class="review-video">
              <a
                href="#"
                data-w-id="0e6c442a-29f1-b56d-dd03-7e5ad3e3e24a"
                class="review-background-video wg-inline-block"
                aria-label="відкритий лайтбокс"
                aria-haspopup="dialog"
                ><img
                  src="/images/902225925-018b3da1a22b5eb0dbfc78aa124d6cddacc9d654c801fb1f61c4ed0d12377bc2-d.webp"
                  loading="lazy"
                  width="600"
                  height="1067"
                  alt="Огляд"
                  srcset="
                    /images/902225925-018b3da1a22b5eb0dbfc78aa124d6cddacc9d654c801fb1f61c4ed0d12377bc2-d-p-500.webp 500w,
                    /images/902225925-018b3da1a22b5eb0dbfc78aa124d6cddacc9d654c801fb1f61c4ed0d12377bc2-d.webp       600w
                  "
                  sizes="(max-width: 479px) 307.28125px, (max-width: 767px) 357.953125px, (max-width: 991px) 376.640625px, (max-width: 1439px) 30vw, 420px"
                  class="review-poster"
                />
                <div
                  style="background-color: rgb(255, 255, 255); color: rgb(63, 61, 68)"
                  class="pause-state"
                >
                  <div class="svg wg-embed">
                    <svg
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10.5 6.13397C11.1667 6.51888 11.1667 7.48112 10.5 7.86603L1.5 13.0622C0.833332 13.4471 -6.10471e-07 12.966 -5.76822e-07 12.1962L-1.2256e-07 1.80385C-8.8911e-08 1.03405 0.833333 0.552922 1.5 0.937822L10.5 6.13397Z"
                        fill="currentColor"
                      ></path>
                    </svg>
                  </div>
                </div>
                <script type="application/json" class="">
                  {
                    "items": [
                      {
                        "url": "https://player.vimeo.com/video/424982514?title=0&portrait=0&byline=0&autoplay=1&muted=true",
                        "originalUrl": "https://player.vimeo.com/video/424982514?title=0&portrait=0&byline=0&autoplay=1&muted=true",
                        "width": 940,
                        "height": 1671,
                        "thumbnailUrl": "http://i.vimeocdn.com/video/902225925-018b3da1a22b5eb0dbfc78aa124d6cddacc9d654c801fb1f61c4ed0d12377bc2-d_960",
                        "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F424982514%3Fapp_id%3D122963&dntp=1&display_name=Vimeo&url=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F424982514&image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F902225925-018b3da1a22b5eb0dbfc78aa124d6cddacc9d654c801fb1f61c4ed0d12377bc2-d_960&key=96f1f04c5f4143bcb0f2e68c87d65feb&autoplay=1&type=text%2Fhtml&schema=vimeo\" width=\"940\" height=\"1671\" scrolling=\"no\" title=\"Vimeo embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
                        "type": "video"
                      }
                    ],
                    "group": "Reviews"
                  }
                </script></a
              >
              <div class="review-video-content">
                <h3>Олівія Мартінес</h3>
                <div>27 років</div>
              </div>
            </div>
          </li>
        </ul>
        <ul
          data-w-id="20edc7f4-0ba1-4941-04a1-058df07337bb"
          role="list"
          class="reviews-list wg-list-unstyled"
          style=""
        >
          <li class="reviews-item">
            <div class="review-video">
              <div
                data-poster-url="/videos/production_id_4352387-540p-poster-00001.jpg"
                data-video-urls="/videos/production_id_4352387-540p-transcode.mp4,/videos/production_id_4352387-540p-transcode.webm"
                data-autoplay="false"
                data-loop="true"
                class="review-background-video wg-bg-video"
              >
                <video
                  id="2d66dc98-fb92-7c6d-ef3a-afa3c01f43a1-video"
                  loop=""
                  style="
                    background-image: url(&quot;/videos/production_id_4352387-540p-poster-00001.jpg&quot;);
                  "
                  muted=""
                  playsinline=""
                  data-object-fit="cover"
                >
                  <source src="/videos/production_id_4352387-540p-transcode.mp4" />
                  <source src="/videos/production_id_4352387-540p-transcode.webm" /></video
                ><noscript
                  ><style>
                    [data-bgvideo-fallback-img] {
                      display: none;
                    }
                    @media (prefers-reduced-motion: reduce) {
                      [data-bgvideo-fallback-img] {
                        position: absolute;
                        z-index: -100;
                        display: inline-block;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                      }
                    }</style
                  ><img
                    data-bgvideo-fallback-img="true"
                    src="/videos/production_id_4352387-540p-poster-00001.jpg"
                    alt=""
                /></noscript>
                <div aria-live="polite">
                  <button
                    class="wg-bg-video-playpause video-button wg-bg-video-control"
                    data-autoplay="true"
                    data-loop="true"
                    data-poster-url="/videos/production_id_4535145-360p-poster-00001.jpg"
                    data-w-id="779ddcea-126e-6816-b03f-139be6a4aeed"
                    data-video-urls="/videos/production_id_4535145-360p-transcode.webm,/videos/production_id_4535145-360p-transcode.mp4"
                    aria-controls="2d66dc98-fb92-7c6d-ef3a-afa3c01f43a1-video"
                    type="button"
                    data-w-bg-video-control="true"
                  >
                    <span class="play-state hidden" hidden=""
                      ><img loading="lazy" src="/images/Pause.svg" alt="Призупинити відео" /></span
                    ><span
                      style="background-color: rgb(255, 255, 255); color: rgb(63, 61, 68)"
                      class="pause-state"
                      ><div class="svg wg-embed">
                        <svg
                          width="11"
                          height="14"
                          viewBox="0 0 11 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M10.5 6.13397C11.1667 6.51888 11.1667 7.48112 10.5 7.86603L1.5 13.0622C0.833332 13.4471 -6.10471e-07 12.966 -5.76822e-07 12.1962L-1.2256e-07 1.80385C-8.8911e-08 1.03405 0.833333 0.552922 1.5 0.937822L10.5 6.13397Z"
                            fill="currentColor"
                          ></path>
                        </svg></div
                    ></span>
                  </button>
                </div>
              </div>
              <a
                href="#"
                data-w-id="71b21649-9f63-89fe-5c31-3939fbfd905d"
                class="review-background-video wg-inline-block"
                aria-label="відкритий лайтбокс"
                aria-haspopup="dialog"
                ><img
                  src="/images/890117120-4a28c7473e0835cb2d7c50abe5ec0a6d1bd6a464ddd33eac542c21c5ab3eb684-d.webp"
                  loading="lazy"
                  width="600"
                  height="1067"
                  alt="Огляд"
                  srcset="
                    /images/890117120-4a28c7473e0835cb2d7c50abe5ec0a6d1bd6a464ddd33eac542c21c5ab3eb684-d-p-500.webp 500w,
                    /images/890117120-4a28c7473e0835cb2d7c50abe5ec0a6d1bd6a464ddd33eac542c21c5ab3eb684-d.webp       600w
                  "
                  sizes="(max-width: 479px) 309.171875px, (max-width: 767px) 359.828125px, (max-width: 991px) 379.265625px, (max-width: 1439px) 30vw, 420px"
                  class="review-poster"
                />
                <div
                  style="background-color: rgb(255, 255, 255); color: rgb(63, 61, 68)"
                  class="pause-state"
                >
                  <div class="svg wg-embed">
                    <svg
                      width="11"
                      height="14"
                      viewBox="0 0 11 14"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M10.5 6.13397C11.1667 6.51888 11.1667 7.48112 10.5 7.86603L1.5 13.0622C0.833332 13.4471 -6.10471e-07 12.966 -5.76822e-07 12.1962L-1.2256e-07 1.80385C-8.8911e-08 1.03405 0.833333 0.552922 1.5 0.937822L10.5 6.13397Z"
                        fill="currentColor"
                      ></path>
                    </svg>
                  </div>
                </div>
                <script type="application/json" class="">
                  {
                    "items": [
                      {
                        "url": "https://player.vimeo.com/video/416320503?title=0&portrait=0&byline=0&autoplay=1&muted=true",
                        "originalUrl": "https://player.vimeo.com/video/416320503?title=0&portrait=0&byline=0&autoplay=1&muted=true",
                        "width": 940,
                        "height": 1671,
                        "thumbnailUrl": "https://i.vimeocdn.com/video/890117120-4a28c7473e0835cb2d7c50abe5ec0a6d1bd6a464ddd33eac542c21c5ab3eb684-d_960",
                        "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F416320503%3Fapp_id%3D122963&dntp=1&display_name=Vimeo&url=https%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F416320503&image=https%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F890117120-4a28c7473e0835cb2d7c50abe5ec0a6d1bd6a464ddd33eac542c21c5ab3eb684-d_960&key=96f1f04c5f4143bcb0f2e68c87d65feb&autoplay=1&type=text%2Fhtml&schema=vimeo\" width=\"940\" height=\"1671\" scrolling=\"no\" title=\"Vimeo embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
                        "type": "video"
                      }
                    ],
                    "group": "Reviews"
                  }
                </script></a
              >
              <div class="review-video-content">
                <h3>Джеймс Андерсон</h3>
                <div>24 роки</div>
              </div>
            </div>
          </li>
          <li class="reviews-item">
            <div class="review">
              <div class="review-stars">
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="review-content">
                <h3>Студія йоги пропонує ідеальне поєднання.</h3>
                <p class="color-gray-200">
                  Студія йоги пропонує ідеальне поєднання традиційних та сучасних практик йоги.
                  Спокійна атмосфера та професійне керівництво роблять її ідеальним місцем, щоб
                  втекти від щоденної метушні та знайти внутрішню рівновагу.
                </p>
              </div>
              <div class="review-author">
                <div><span class="text">Емма Тейлор,</span> 22 роки</div>
              </div>
            </div>
          </li>
          <li class="reviews-item">
            <div class="review">
              <div class="review-stars">
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="svg wg-embed">
                  <svg
                    width="22"
                    height="22"
                    viewBox="0 0 22 22"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11 0L13.4697 7.60081H21.4616L14.996 12.2984L17.4656 19.8992L11 15.2016L4.53436 19.8992L7.00402 12.2984L0.538379 7.60081H8.53035L11 0Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="review-content">
                <h3>Відвідування занять у цій студії йоги справді змінило моє життя.</h3>
                <p class="color-gray-200">
                  Відвідування занять у цій студії йоги справді змінило моє життя. Досвідчені
                  інструктори заохочують особистісний ріст, і після кожного заняття я почуваюся
                  сильнішою, як фізично, так і психологічно. Я не можу висловити свою вдячність цій
                  студії йоги. Відданість інструкторів своїй справі очевидна на кожному занятті, а
                  відчуття гармонії та усвідомленості, яке вони культивують, справді виняткове.
                </p>
              </div>
              <div class="review-author">
                <div><span class="text">Бенджамін Вокер,</span> 34 роки</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
