<section data-w-id="e40b315c-d9f2-7c60-19c5-4dd44c67e382" class="section sessions">
  <div class="container sessions-container">
    <header class="section-header">
      <h2
        data-w-id="abf8c5fa-5a6c-eb22-b99f-83cb6001251c"
        class="heading-medium heading-max-width text-center reveal"
      >
        Заняття йогою, які <span class="text-italic">знаходять баланс</span> та внутрішній спокій
      </h2>
    </header>
  </div>
  <div class="sessions-sticky">
    <div class="sessions-sticky-wrapper">
      <div class="sticky-space" style=""></div>
      <div class="sessions-wrapper" style="">
        <div role="list" class="sessions-list">
          <div role="listitem" class="sessions-item">
            <div class="session-card">
              <div class="session-card-logo">
                <img
                  alt="Логотип сесії"
                  loading="lazy"
                  src="/images/Session-Logo.svg"
                  class="session-card-icon"
                />
              </div>
              <h3>Віньяса Флоу</h3>
              <p class="session-card-description">
                Віньяса-флоу – це динамічний та плавний стиль йоги, який синхронізує дихання з
                рухом. Заняття включають послідовність поз, які плавно переходять одна в одну,
                розвиваючи силу, гнучкість та усвідомленість. Це чудовий спосіб розігріти тіло та
                покращити серцево-судинну систему.
              </p>
            </div>
          </div>
          <div role="listitem" class="sessions-item">
            <div class="session-card">
              <div class="session-card-logo">
                <img
                  alt="Логотип сесії"
                  loading="lazy"
                  src="/images/Session-Logo.svg"
                  class="session-card-icon"
                />
              </div>
              <h3>Хатха-йога</h3>
              <p class="session-card-description">
                Хатха-йога зосереджена на фундаментальних позах і техніках дихання. Це чудова
                відправна точка для початківців, яка наголошує на балансі, гнучкості та
                розслабленні. Заняття хатха-йогою часто включають поєднання поз і технік
                розслаблення для сприяння загальному самопочуттю.
              </p>
            </div>
          </div>
          <div role="listitem" class="sessions-item">
            <div class="session-card">
              <div class="session-card-logo">
                <img
                  alt="Логотип сесії"
                  loading="lazy"
                  src="/images/Session-Logo.svg"
                  class="session-card-icon"
                />
              </div>
              <h3>Кундаліні-йога</h3>
              <p class="session-card-description">
                Кундаліні-йога має на меті пробудити духовну енергію в тілі за допомогою поєднання
                дихальних практик, медитації та динамічних поз. Ця практика зосереджена на
                розширенні свідомості та досягненні глибшого самосвідомості. Заняття Кундаліні часто
                включають спів мантр та медитацію.
              </p>
            </div>
          </div>
          <div role="listitem" class="sessions-item">
            <div class="session-card">
              <div class="session-card-logo">
                <img
                  alt="Логотип сесії"
                  loading="lazy"
                  src="/images/Session-Logo.svg"
                  class="session-card-icon"
                />
              </div>
              <h3>Інь Йога</h3>
              <p class="session-card-description">
                Інь-йога — це повільний стиль, який спрямований на опрацювання сполучних тканин і
                суглобів. Пози утримуються протягом тривалішого часу, що сприяє глибокому
                розслабленню та підвищенню гнучкості. Інь-йога — чудовий спосіб зняти напругу та
                розвинути усвідомленість, що робить її придатною як для початківців, так і для
                досвідчених практиків.
              </p>
            </div>
          </div>
          <div role="listitem" class="sessions-item">
            <div class="session-card">
              <div class="session-card-logo">
                <img
                  alt="Логотип сесії"
                  loading="lazy"
                  src="/images/Session-Logo.svg"
                  class="session-card-icon"
                />
              </div>
              <h3>Пауер-йога</h3>
              <p class="session-card-description">
                Пауер-йога – це більш енергійний та фітнес-орієнтований стиль. Він розвиває силу,
                витривалість та гнучкість за допомогою серії складних поз. Заняття часто включають
                елементи кардіо та можуть бути фізично вимогливими. Пауер-йога ідеально підходить
                для тих, хто хоче поєднати тренування з практикою йоги.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container session-progressbar">
      <div class="progressbar"><div class="progressbar-line" style=""></div></div>
    </div>
  </div>
</section>
