<div class="footer-sticky">
  <footer class="footer">
    <div class="container">
      <div class="footer-top">
        <div class="subscribe">
          <h2 class="text-italic subscribe-title">Підпишіться на новини</h2>
          <div class="form-subscribe w-form">
            <form
              id="email-form-2"
              name="email-form-2"
              data-name="Email Form 2"
              method="get"
              class="form-subscribe-wrapper"
              data-wf-page-id="65c50e40afae39c0bdf7ae1a"
              data-wf-element-id="27548130-7173-a44a-9836-8fa33f0926a1"
              aria-label="Форма електронного листа 2"
            >
              <label for="name-4" class="hidden">Електронна пошта</label
              ><input
                class="text-field-subscribe w-input"
                maxlength="256"
                name="name-2"
                data-name="Name 2"
                placeholder="Електронна пошта"
                type="text"
                id="name-2"
                required=""
                data-sharkid="__2"
              /><button type="submit" class="button button-green subscribe-button">
                <div class="button-content">Підписатися</div>
                <div class="button-hover background-green-secondary" style=""></div>
              </button>
            </form>
            <div
              class="success-message-2 w-form-done"
              tabindex="-1"
              role="region"
              aria-label="Успішне виконання форми 2 електронного листа"
            >
              <div class="text text-left">Дякуємо! Вашу заявку отримано!</div>
            </div>
            <div
              class="w-form-fail"
              tabindex="-1"
              role="region"
              aria-label="Невдача надсилання форми 2 електронного листа"
            >
              <div>Ой! Щось пішло не так під час надсилання форми.</div>
            </div>
          </div>
        </div>
        <a
          href="#Hero"
          aria-label="прокрутити вгору"
          data-w-id="27548130-7173-a44a-9836-8fa33f0926af"
          class="link-to-top mobile-hidden w-inline-block"
          ><div class="svg button-icon w-embed">
            <svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.71373 14.787L12.501 7.99975L19.2863 14.787"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </div>
          <div
            class="button-hover"
            style="
              transform: translate3d(0px, 101%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
                rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
              opacity: 0;
            "
          ></div
        ></a>
      </div>
      <div class="footer-content">
        <div class="footer-info">
          <div class="footer-logo-wrapper">
            <a href="/" aria-current="page" class="footer-logo w-inline-block w--current"
              ><img
                src="/images/logo-min.svg"
                loading="lazy"
                width="74"
                height="74"
                alt="Логотип"
                class="footer-logo-image" /></a
            ><a
              href="#Hero"
              aria-label="прокрутити вгору"
              class="link-to-top mobile-small-visible w-inline-block"
              ><div class="svg w-embed">
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 25 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.71373 14.787L12.501 7.99975L19.2863 14.787"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg></div
            ></a>
          </div>
          <p class="color-pudra-100">
            Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor.
            Voluptate exercitation incididunt aliquip serunt
          </p>
        </div>
        <nav class="footer-navigation">
          <div class="footer-navigation-item">
            <h3 class="text color-gray-200 text-font-medium">Меню</h3>
            <ul role="list" class="footer-list w-list-unstyled">
              <li><a href="#Classes" class="link link-small">Заняття</a></li>
              <li><a href="#Trainers" class="link link-small">Тренери</a></li>
              <li><a href="#Reviews" class="link link-small">Відгуки</a></li>
              <li><a href="#Memberships" class="link link-small">Членство</a></li>
            </ul>
          </div>
          <div class="footer-navigation-item">
            <h3 class="text color-gray-200 text-font-medium">Сторінки корисних ресурсів</h3>
            <ul role="list" class="footer-list w-list-unstyled">
              <li><a href="/license" class="link link-small">Сторінка ліцензій</a></li>
              <li><a href="/changelog" class="link link-small">Сторінка журналу змін</a></li>
              <li>
                <a href="https://yoga-db.webflow.io/404" class="link link-small"
                  >Сторінка 404 Не знайдено</a
                >
              </li>
              <li><a href="/style-guide" class="link link-small">Сторінка стилістики</a></li>
            </ul>
          </div>
        </nav>
        <ul role="list" class="socials w-list-unstyled">
          <li class="socials-item">
            <a
              aria-label="посилання на LinkedIn"
              href="https://www.linkedin.com/company/digitalbutlers/"
              target="_blank"
              class="socials-link w-inline-block"
              ><div class="svg button-icon w-embed">
                <svg
                  width="21"
                  height="21"
                  viewBox="0 0 21 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.30527 19.5H2.7808V8.14997H6.30527V19.5ZM4.54114 6.60172C3.41413 6.60172 2.5 5.66822 2.5 4.54118C2.5 3.99983 2.71505 3.48065 3.09784 3.09785C3.48062 2.71505 3.99979 2.5 4.54114 2.5C5.08248 2.5 5.60165 2.71505 5.98444 3.09785C6.36723 3.48065 6.58228 3.99983 6.58228 4.54118C6.58228 5.66822 5.66777 6.60172 4.54114 6.60172ZM19.4962 19.5H15.9793V13.9749C15.9793 12.6581 15.9528 10.9695 14.1469 10.9695C12.3145 10.9695 12.0337 12.4001 12.0337 13.88V19.5H8.51299V8.14997H11.8933V9.69822H11.9426C12.4131 8.80646 13.5625 7.86537 15.2773 7.86537C18.8443 7.86537 19.5 10.2143 19.5 13.2653V19.5H19.4962Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <div class="button-hover background-white" style=""></div
            ></a>
          </li>
          <li class="socials-item">
            <a
              aria-label="посилання на твіттер"
              href="https://twitter.com/Digital_Butlers"
              target="_blank"
              class="socials-link w-inline-block"
              ><div class="svg button-icon w-embed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M17.99 2H21.298L14.071 10.26L22.573 21.5H15.916L10.702 14.683L4.736 21.5H1.426L9.156 12.665L1 2H7.826L12.539 8.231L17.99 2ZM16.829 19.52H18.662L6.83 3.876H4.863L16.829 19.52Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <div class="button-hover background-white" style=""></div
            ></a>
          </li>
          <li class="socials-item">
            <a
              aria-label="посилання на фейсбук"
              href="https://www.facebook.com/profile.php?id=100090264223869"
              target="_blank"
              class="socials-link w-inline-block"
              ><div class="svg button-icon w-embed">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  viewBox="0 0 25 25"
                  fill="none"
                >
                  <path
                    id="Vector"
                    d="M15.6194 5.82003H17.4994V2.64003C16.5891 2.54538 15.6745 2.49865 14.7594 2.50003C12.0394 2.50003 10.1794 4.16003 10.1794 7.20003V9.82003H7.10938V13.38H10.1794V22.5H13.8594V13.38H16.9194L17.3794 9.82003H13.8594V7.55003C13.8594 6.50003 14.1394 5.82003 15.6194 5.82003Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <div class="button-hover background-white" style=""></div
            ></a>
          </li>
        </ul>
        <a
          href="#Hero"
          aria-label="прокрутити вгору"
          class="link-to-top mobile-visible w-inline-block"
          ><div class="svg w-embed">
            <svg
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.71373 14.787L12.501 7.99975L19.2863 14.787"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg></div
        ></a>
      </div>
      <div class="footer-bootom color-gray-200">
        <p>© Авторське право 2023 YogaStudio</p>
        <p>
          Розроблено
          <a
            href="https://www.digitalbutlers.team/?utm_source=employers&amp;utm_medium=site&amp;utm_campaign=yoga+db"
            target="_blank"
            class="link-dark"
            >Digital Butlers</a
          >
        </p>
        <p>
          Працює на
          <a href="https://webflow.com/" target="_blank" class="link-dark">платформі Webflow</a>
        </p>
      </div>
    </div>
  </footer>
</div>
