<header class="header">
  <div class="container">
    <div class="content-horizontal-left header-content" style="">
      <a href="/" aria-current="page" class="header-logo wg-inline-block wg--current"
        ><img
          src="/images/Logo.svg"
          loading="eager"
          width="188"
          height="73"
          alt="Логотип"
          class="header-logo-image tablet-hide"
          style="" /><img
          src="/images/Logo-dark.svg"
          loading="eager"
          width="188"
          height="73"
          alt="Логотип"
          class="header-logo-dark"
          style="" /><img
          src="/images/logo-min.svg"
          loading="eager"
          width="60"
          height="60"
          alt="Логотип"
          class="header-logo-small tablet-visible"
      /></a>
      <nav class="header-navigation">
        <ul role="list" class="header-list wg-list-unstyled">
          <li class="header-item">
            <a
              href="#Trainers"
              data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba30c"
              class="link navigation-link wg-inline-block"
              ><div>Тренери</div></a
            >
          </li>
          <li class="header-item">
            <a
              href="#Reviews"
              data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba310"
              class="link navigation-link wg-inline-block"
              ><div>Відгуки</div></a
            >
          </li>
          <li class="header-item">
            <a
              href="#Memberships"
              data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba314"
              class="link navigation-link wg-inline-block"
              ><div>Членство</div></a
            >
          </li>
          <li class="header-item">
            <a
              href="#Training"
              data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba308"
              class="link navigation-link wg-inline-block"
              ><div>Тренування</div></a
            >
          </li>
          <li class="header-item header-theme-switcher">
            <div class="theme-switcher" role="group" aria-label="Кольорова тема сайту">
              <button
                type="button"
                class="theme-switcher-button"
                data-theme-option="light"
                aria-pressed="true"
                aria-label="Світла тема"
              >
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                  <circle cx="12" cy="12" r="4.5" stroke="currentColor" stroke-width="1.6" />
                  <path
                    d="M12 2.5V5M12 19V21.5M21.5 12H19M5 12H2.5M18.4 5.6L16.6 7.4M7.4 16.6L5.6 18.4M18.4 18.4L16.6 16.6M7.4 7.4L5.6 5.6"
                    stroke="currentColor"
                    stroke-width="1.6"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
              <button
                type="button"
                class="theme-switcher-button"
                data-theme-option="dark"
                aria-pressed="false"
                aria-label="Темна тема"
              >
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                  <path
                    d="M20.5 14.6C19.3 15.2 17.9 15.5 16.5 15.5C11.5 15.5 7.5 11.5 7.5 6.5C7.5 5.1 7.8 3.7 8.4 2.5C4.7 3.7 2 7.2 2 11.3C2 16.4 6.1 20.5 11.2 20.5C15.3 20.5 18.8 17.8 20.5 14.6Z"
                    stroke="currentColor"
                    stroke-width="1.6"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
              <button
                type="button"
                class="theme-switcher-button"
                data-theme-option="blue"
                aria-pressed="false"
                aria-label="Синя тема"
              >
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                  <path
                    d="M12 2.5C12 2.5 5.5 10 5.5 14.8C5.5 18.5 8.4 21.5 12 21.5C15.6 21.5 18.5 18.5 18.5 14.8C18.5 10 12 2.5 12 2.5Z"
                    stroke="currentColor"
                    stroke-width="1.6"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
          </li>
          <li class="header-item header-button-wrapper">
            <a
              data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba318"
              href="#"
              class="button header-button wg-inline-block"
              style=""
              ><div class="button-content"><div>Контакти</div></div>
              <div class="button-hover background-gray header-button-hover" style=""></div
            ></a>
          </li>
        </ul>
        <div class="header-socials tablet-visible">
          <ul role="list" class="socials wg-list-unstyled">
            <li class="socials-item">
              <a
                aria-label="посилання на LinkedIn"
                href="https://www.linkedin.com/company/digitalbutlers/"
                target="_blank"
                class="socials-link wg-inline-block"
                ><div class="svg button-icon wg-embed">
                  <svg
                    width="21"
                    height="21"
                    viewBox="0 0 21 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.30527 19.5H2.7808V8.14997H6.30527V19.5ZM4.54114 6.60172C3.41413 6.60172 2.5 5.66822 2.5 4.54118C2.5 3.99983 2.71505 3.48065 3.09784 3.09785C3.48062 2.71505 3.99979 2.5 4.54114 2.5C5.08248 2.5 5.60165 2.71505 5.98444 3.09785C6.36723 3.48065 6.58228 3.99983 6.58228 4.54118C6.58228 5.66822 5.66777 6.60172 4.54114 6.60172ZM19.4962 19.5H15.9793V13.9749C15.9793 12.6581 15.9528 10.9695 14.1469 10.9695C12.3145 10.9695 12.0337 12.4001 12.0337 13.88V19.5H8.51299V8.14997H11.8933V9.69822H11.9426C12.4131 8.80646 13.5625 7.86537 15.2773 7.86537C18.8443 7.86537 19.5 10.2143 19.5 13.2653V19.5H19.4962Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="button-hover background-white" style=""></div
              ></a>
            </li>
            <li class="socials-item">
              <a
                aria-label="посилання на твіттер"
                href="https://twitter.com/Digital_Butlers"
                target="_blank"
                class="socials-link wg-inline-block"
                ><div class="svg button-icon wg-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M17.99 2H21.298L14.071 10.26L22.573 21.5H15.916L10.702 14.683L4.736 21.5H1.426L9.156 12.665L1 2H7.826L12.539 8.231L17.99 2ZM16.829 19.52H18.662L6.83 3.876H4.863L16.829 19.52Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="button-hover background-white" style=""></div
              ></a>
            </li>
            <li class="socials-item">
              <a
                aria-label="посилання на фейсбук"
                href="https://www.facebook.com/profile.php?id=100090264223869"
                target="_blank"
                class="socials-link wg-inline-block"
                ><div class="svg button-icon wg-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    viewBox="0 0 25 25"
                    fill="none"
                  >
                    <path
                      id="Vector"
                      d="M15.6194 5.82003H17.4994V2.64003C16.5891 2.54538 15.6745 2.49865 14.7594 2.50003C12.0394 2.50003 10.1794 4.16003 10.1794 7.20003V9.82003H7.10938V13.38H10.1794V22.5H13.8594V13.38H16.9194L17.3794 9.82003H13.8594V7.55003C13.8594 6.50003 14.1394 5.82003 15.6194 5.82003Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="button-hover background-white" style=""></div
              ></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="burger-wrapper tablet-visible">
        <button type="button" aria-label="відкрити меню" class="burger">
          <span class="burger-line burger-line-top"></span
          ><span class="burger-line burger-line-middle"></span
          ><span class="burger-line burger-line-bottom"></span>
        </button>
      </div>
      <div class="header-blur"></div>
    </div>
  </div>
</header>
