<header class="header">
  <div class="container">
    <div class="content-horizontal-left header-content" style="">
      <a href="/" aria-current="page" class="header-logo w-inline-block w--current"
        ><img
          src="/images/Logo.svg"
          loading="eager"
          width="188"
          height="73"
          alt="Логотип"
          class="header-logo-image tablet-hide"
          style="" /><img
          src="/images/Logo-dark.svg"
          loading="eager"
          width="188"
          height="73"
          alt="Логотип"
          class="header-logo-dark"
          style="" /><img
          src="/images/logo-min.svg"
          loading="eager"
          width="60"
          height="60"
          alt="Логотип"
          class="header-logo-small tablet-visible"
      /></a>
      <nav
        class="header-navigation"
        style="
          transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
            rotateZ(0deg) skew(0deg, 0deg);
          transform-style: preserve-3d;
        "
      >
        <ul role="list" class="header-list w-list-unstyled">
          <li class="header-item">
            <a
              href="#Trainers"
              data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba30c"
              class="link navigation-link w-inline-block"
              ><div>Тренери</div></a
            >
          </li>
          <li class="header-item">
            <a
              href="#Reviews"
              data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba310"
              class="link navigation-link w-inline-block"
              ><div>Відгуки</div></a
            >
          </li>
          <li class="header-item">
            <a
              href="#Memberships"
              data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba314"
              class="link navigation-link w-inline-block"
              ><div>Членство</div></a
            >
          </li>
          <li class="header-item">
            <a
              href="#Classes"
              data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba308"
              class="link navigation-link w-inline-block"
              ><div>Заняття</div></a
            >
          </li>
          <li class="header-item header-button-wrapper">
            <a
              data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba318"
              href="#"
              class="button header-button w-inline-block"
              style=""
              ><div class="button-content"><div>Контакти</div></div>
              <div class="button-hover background-gray header-button-hover" style=""></div
            ></a>
          </li>
        </ul>
        <div class="header-socials tablet-visible">
          <ul role="list" class="socials w-list-unstyled">
            <li class="socials-item">
              <a
                aria-label="посилання на LinkedIn"
                href="https://www.linkedin.com/company/digitalbutlers/"
                target="_blank"
                class="socials-link w-inline-block"
                ><div class="svg button-icon w-embed">
                  <svg
                    width="21"
                    height="21"
                    viewBox="0 0 21 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.30527 19.5H2.7808V8.14997H6.30527V19.5ZM4.54114 6.60172C3.41413 6.60172 2.5 5.66822 2.5 4.54118C2.5 3.99983 2.71505 3.48065 3.09784 3.09785C3.48062 2.71505 3.99979 2.5 4.54114 2.5C5.08248 2.5 5.60165 2.71505 5.98444 3.09785C6.36723 3.48065 6.58228 3.99983 6.58228 4.54118C6.58228 5.66822 5.66777 6.60172 4.54114 6.60172ZM19.4962 19.5H15.9793V13.9749C15.9793 12.6581 15.9528 10.9695 14.1469 10.9695C12.3145 10.9695 12.0337 12.4001 12.0337 13.88V19.5H8.51299V8.14997H11.8933V9.69822H11.9426C12.4131 8.80646 13.5625 7.86537 15.2773 7.86537C18.8443 7.86537 19.5 10.2143 19.5 13.2653V19.5H19.4962Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="button-hover background-white" style=""></div
              ></a>
            </li>
            <li class="socials-item">
              <a
                aria-label="посилання на твіттер"
                href="https://twitter.com/Digital_Butlers"
                target="_blank"
                class="socials-link w-inline-block"
                ><div class="svg button-icon w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M17.99 2H21.298L14.071 10.26L22.573 21.5H15.916L10.702 14.683L4.736 21.5H1.426L9.156 12.665L1 2H7.826L12.539 8.231L17.99 2ZM16.829 19.52H18.662L6.83 3.876H4.863L16.829 19.52Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="button-hover background-white" style=""></div
              ></a>
            </li>
            <li class="socials-item">
              <a
                aria-label="посилання на фейсбук"
                href="https://www.facebook.com/profile.php?id=100090264223869"
                target="_blank"
                class="socials-link w-inline-block"
                ><div class="svg button-icon w-embed">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    viewBox="0 0 25 25"
                    fill="none"
                  >
                    <path
                      id="Vector"
                      d="M15.6194 5.82003H17.4994V2.64003C16.5891 2.54538 15.6745 2.49865 14.7594 2.50003C12.0394 2.50003 10.1794 4.16003 10.1794 7.20003V9.82003H7.10938V13.38H10.1794V22.5H13.8594V13.38H16.9194L17.3794 9.82003H13.8594V7.55003C13.8594 6.50003 14.1394 5.82003 15.6194 5.82003Z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
                <div class="button-hover background-white" style=""></div
              ></a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="burger-wrapper tablet-visible">
        <button
          data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba320"
          type="button"
          aria-label="відкрити меню"
          class="burger"
        >
          <span
            class="burger-line burger-line-top"
            style="
              transform: translate3d(-50%, -7px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
                rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            "
          ></span
          ><span class="burger-line burger-line-middle" style="opacity: 1"></span
          ><span
            class="burger-line burger-line-bottom"
            style="
              transform: translate3d(-50%, 7px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
                rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
            "
          ></span></button
        ><button
          data-w-id="7b31d5b6-1959-bf9b-5cba-a9bc3f6ba324"
          type="button"
          aria-label="закрити меню"
          class="burger-close"
          style="display: none"
        ></button>
      </div>
      <div class="header-blur"></div>
    </div>
  </div>
</header>
