<div data-w-id="860055e8-939b-0cfc-1013-7b1202eb7f4c" class="modal">
  <div data-w-id="860055e8-939b-0cfc-1013-7b1202eb7f4d" class="modal-overlay"></div>
  <div class="modal-wrapper">
    <div class="modal-content">
      <div class="contact-content">
        <h2 class="text-center">Зв'яжіться з <span class="text-italic">нами</span></h2>
        <p class="text text-center">
          Ваша думка цінна для нас. Будь ласка, заповніть форму, і ми зв'яжемося з вами.
        </p>
        <div class="form wg-form">
          <form
            id="email-form-3"
            name="email-form"
            data-name="Email Form"
            method="get"
            clas
            s="form-wrapper"
            aria-label="Форма електронної пошти"
          >
            <div class="form-field">
              <label for="name-3" class="hidden">Ім'я</label
              ><input
                class="text-field wg-input"
                maxlength="256"
                name="name-3"
                data-name="Name 3"
                placeholder="Ім'я*"
                type="text"
                id="name-3"
                required=""
              />
            </div>
            <div class="form-field">
              <label for="email-2" class="hidden">Адреса електронної пошти</label
              ><input
                class="text-field wg-input"
                maxlength="256"
                name="email-2"
                data-name="Email 2"
                placeholder="Електронна пошта*"
                type="email"
                id="email-2"
                required=""
              />
            </div>
            <button type="submit" class="button button-green form-button">
              <div class="button-content">Надіслати повідомлення</div>
              <div class="button-hover background-green-secondary" style=""></div>
            </button>
          </form>
          <div
            class="success-message wg-form-done"
            tabindex="-1"
            role="region"
            aria-label="Успішно заповнена форма електронної пошти"
          >
            <div>Дякуємо! Вашу заявку отримано!</div>
          </div>
          <div
            class="wg-form-fail"
            tabindex="-1"
            role="region"
            aria-label="Помилка форми електронної пошти"
          >
            <div>Ой! Щось пішло не так під час надсилання форми.</div>
          </div>
        </div>
      </div>
    </div>
    <button
      data-w-id="860055e8-939b-0cfc-1013-7b1202eb7f4e"
      type="button"
      aria-label="закрити модальне вікно"
      class="modal-close"
    >
      <div class="svg wg-embed">
        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
            fill="currentColor"
          ></path>
          <path
            d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
            fill="currentColor"
          ></path>
          <path
            d="M16.7896 1.21151C17.0701 1.49206 17.0701 1.94693 16.7896 2.22748L2.22884 16.7896C1.94832 17.0701 1.4935 17.0701 1.21297 16.7896C0.93245 16.509 0.93245 16.0542 1.21297 15.7736L15.7737 1.21151C16.0543 0.930963 16.5091 0.930963 16.7896 1.21151Z"
            stroke="currentColor"
            stroke-width="0.5"
          ></path>
          <path
            d="M16.787 16.7885C16.5065 17.069 16.0517 17.069 15.7712 16.7885L1.21039 2.22637C0.929869 1.94582 0.929869 1.49096 1.21039 1.21041C1.49092 0.929862 1.94574 0.929863 2.22626 1.21041L16.787 15.7725C17.0675 16.0531 17.0675 16.5079 16.787 16.7885Z"
            stroke="currentColor"
            stroke-width="0.5"
          ></path>
        </svg>
      </div>
    </button>
  </div>
</div>
